<h2>ALUNOS</h2>
<ul class="alunos">
  <li *ngFor="let aluno of alunos" (click) ="onSelect(aluno)"
  [class.selected]= "hero === selectedAluno" (click)="onSelect(Aluno)">
  <span class="badge"> {{aluno.matricula}} </span> {{aluno.nome}} {{aluno.curso}}
  </li>
</ul>

<div *ngIf="selectedAluno">
  
  <h2>{{selectedAluno.nome || uppercase}} Details</h2>
  <div><span>Matricula: </span> {{selectedAluno.matricula}}</div>
  <div><span> Curso: </span> {{selectedAluno.curso}}</div>
  <div>
    <label> Nome: 
      <input [(ngModel)] = "selectedAluno.nome" placeholder="nome"/>
    </label>
  </div>
  

</div>
